.cls-collapse-container {
  border-bottom: 1px solid #000403;
  cursor: pointer;
  .cls-collapse-title {
    padding: 20px 0;
    font-size: 24px;
    h4 {
      color: #000403;
      margin: 0 !important;
      font-weight: 700;
    }
  }
  .icon-collapse {
    position: absolute;
    right: 0;
    top: 3px;
    transition: all 0.5s;
    transform: rotate(0deg);
  }
  .icon-collapse-expand {
    transform: rotate(90deg);
  }

  p {
    font-size: 16px;
    color: #4c4e4d;
    padding-bottom: 20px;
  }
}

@media all and (max-width: 1200px) {
  .cls-collapse-container {
    .cls-collapse-title {
      h4 {
        font-size: 18px;
      }
    }
  }
}
@media all and (max-width: 900px) {
  .cls-collapse-container {
    .cls-collapse-title {
      h4 {
        font-size: 16px;
      }
    }
  }
}
