.LastestNewsItem {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 10px;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 1px solid #d0d0d0;
  margin-top: 10px;

  @include sm {
  }

  &:first-child {
    margin-top: 0px;
  }

  &:last-child {
    padding-bottom: 0px;
    border-bottom: 1px solid #222;
  }
  .figure-img {
    flex-basis: 33%;
    max-width: 33%;
    a {
      max-width: 100%;
      img {
        width: 100%;
        object-fit: cover;
      }
    }
  }

  .content {
    flex-basis: 77%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;

    .title {
      font-size: 20px;
      color: #222;
      line-height: 1.44;

      a {
        &:hover {
          color: #707070;
        }
      }
    }

    .desc {
      font-size: 14px;
      color: #999;
      line-height: 1.43;
      display: block;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;
      overflow: hidden;

      @include md {
        display: none;
      }
    }

    .date-creator {
      display: flex;
      gap: 10px;
      color: #999;
      font-size: 14px;
      .date {
        display: flex;
        align-items: center;
        gap: 10px;
        padding-right: 10px;
        border-right: 1px solid #d0d0d0;
      }
    }
  }
}
