.clscardwithauthorrow {
    width:100%;

    &-img {
        flex-shrink: 0;
        max-width: 200px;
        img {
            width: 100%;
            height: 100%;
        }
        margin-right: 16px;
    }

    &-content {
        display: flex;
       
    }

    &-author {
        display: flex;
        align-items: center;

        &__avatar {
            display: flex;
            align-items: center;
            margin-right: 18px;

            .avatar {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background: #771b1b;
                margin-right: 15px;
            }

            .author {
                font-size: 16px;
                font-weight: bold;
                color: #333333;
            }
        }

        &__time {
            position: relative;
            display: inline-block;
            padding: 0px 0px 0px 16px;

            &::after {
                position: absolute;
                content: "";
                width: 8px;
                height: 8px;
                border-radius: 50%;
                top: 50%;
                left: 0%;
                background-color: #333333;
                transform: translate(-50%, -50%);
            }

            .time {
                color: #333333;
            }
        }
    }

    &-title {
        margin-top: 16px;

        &__title {
            font-size: 24px;
            color: #333333;
            line-height: 32px;
            font-weight: 700;
        }
    }

    &-des {
        margin-top: 16px;
        flex-grow: 1;

        &__des {
            font-size: 14px;
            color: #666666;
            line-height: 21px;
        }
    }

    &-action {
        margin-top: 16px;

        &__action {
            font-size: 14px;
            color: #053AA8;
            line-height: 21px;
        }
    }
}