.headerarticle {
  padding: 20px 0px 0px 0px;
  &-information {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center;
    &__detail {
      display: flex;
      align-items: center;
      .author,
      .time,
      .view {
        display: flex;
        align-items: center;
        padding: 0px 10px;
      }
      .author {
        span {
          color: rgb(199, 20, 20);
        }
      }
      .time,
      .view {
        color: #999999;
      }
      .author {
        padding-left: 0px;
      }
      .time,
      .view {
        position: relative;
        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 1px;
          height: 100%;
          background: #999999;
        }
      }
    }

    &__action {
      display: flex;
      .share-icon,
      .save-icon,
      .sum-icon,
      .print-icon {
        height: 42px;
        width: 42px;
        border-radius: 50%;
        border: 1px solid #ccc;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 4px;
        color: #999999;
      }
    }
    @include res(600px) {
      justify-content: flex-end;
      .cls-BreadCrumb {
        display: none;
      }
    }
  }
  &-title {
    h1 {
      font-size: 32px;
      line-height: 150%;
      font-family: "Noto Sans KR", sans-serif;
      font-weight: bold;
      margin-bottom: 15px;
      @include res(600px) {
        line-height: 100%;
        font-size: 24px;
      }
    }
  }
}
.clsfooterarticle {
  &-content {
    width: 100%;
  }
  &-button {
    display: flex;
  }
  &-back {
    width: 40px;
    height: 40px;
    background: #fff;
    line-height: 40px;
    text-align: center;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    color: #4f4f4f;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
  }
  &-save {
    width: 80px;
    height: 40px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 40px;
    text-align: center;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    color: #4f4f4f;
  }
  &-author {
    text-align: right;
    margin-top: 10px;
    &__tag {
      margin-top: 20px;
      padding-top: 10px;
      display: flex;
      color: #999999;
      align-items: center;
      flex-wrap: wrap;
      ul {
        display: flex;
        margin-top: 10px;
        flex-wrap: wrap;
      }
    }
    &__tagitem {
      padding: 8px 7px;
      border: 1px solid #eeeeee;
      margin-left: 10px;
      color: #999999;
      margin-top: 5px;
    }
    &__post {
      text-align: left;
      padding: 10px 0px;
      margin: 15px 0px;
    }
    &__active {
      color: red;
    }
    &__relatenew {
      &-title {
        margin-bottom: 15px;
        padding-bottom: 10px;
      }
    }
  }
  &-action {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
  }
  &-social {
    &__content {
      display: flex;
      align-items: center;
    }
    span {
      margin-left: 10px;
    }
    &__icon {
      width: 32px;
      height: 32px;
      border: 1px solid #e5e5e5;
      background: #fff;
      border-radius: 50%;
      text-align: center;
      line-height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
