.clstabcolumn {
  &header {
    &-content {
      display: flex;
      list-style: none;
      margin-bottom: 12px;
    }
    &-item {
      margin-right: 12px;
      font-size: 13px;
      line-height: 1.6;

      font-family: "Arial", serif;
      color: #222;
      font-weight: bold;
    }
  }
  &content {
    display: flex;
    justify-content: space-between;
    @include res(980px) {
      flex-direction: column;
    }
    &-left {
      flex-basis: 60%;
      .clsarticletext {
        position: relative;
        max-width: 200px;
        position: relative;
        margin-bottom: 0;
        padding-bottom: 0;
        border: none;
        padding-left: 15px;
        &::before {
          width: 6px;
          height: 6px;
          border-radius: 50%;
          content: "";
          background: #ababab;
          position: absolute;
          top: 21px;
          left: 0;
        }
      }
      &__bottom {
        display: flex;
        .clsarticletext{
            position: relative;
            max-width: 200px;
            position: relative;
            margin-bottom: 0;
            padding-bottom: 0;
            border: none;
            padding-left: 15px;
            &::before{
              width: 6px;
              height: 6px;
              border-radius: 50%;
              content: "";
              background: #ababab;
              position: absolute;
              top: 50%;
              left: 0;
              transform: translate(0%, -50%);
            }
          }
          @include res(980px){
            flex-direction: column;
            .clsarticletext{
              max-width: 100%;
              margin-top: 20px;
            }
          }
      }
      @include res(980px){
        .clsarticle{
          &-content{
            flex-direction: column;
          }
          &-img{
            width: 100%;
          }
          &-summary{
            padding: 0px;
          }
        }
      }
    }
    &-right {
      flex-basis: 40%;
      @include res(980px){
       margin-top: 20px;
      }
    }
  }
}
