.banner {
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: flex-start;
  height: auto;
  padding-bottom: 20px;
  border-bottom: 1px solid #333;

  @include sm {
    flex-direction: column-reverse;
  }

  &__title {
    font-weight: 700;
    font-size: 36px;
    color: #222;
    text-align: center;

    @include sm {
      font-size: 18px;
      text-align: left;
    }
  }

  &__content {
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: 100%;

    &__figure {
      min-width: 40%;
      height: auto;

      &__img {
        width: 100%;
        object-fit: cover;
      }
    }

    &__desc {
      word-break: break-all;
      font-size: 14px;
      overflow: hidden;
      text-overflow: ellipsis;
      color: #999;

      @include sm {
        display: none;
      }
    }

    &__link > a {
      text-decoration: none;
      color: #222;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
