.clsheader {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  padding: 10px 0px;
  background: red;
  color: #fff;
  margin-bottom: 60px;
  z-index: 99;
  &-content {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
