.opinion {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-bottom: 30px;
  border-bottom: 1px solid #222;
  width: 100%;

  &__header {
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
    width: 100%;

    &__link {
      font-size: 18px;
      color: #222;
      font-weight: 700;
    }
  }

  .opinion__main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;

    @include md {
      flex-direction: row;
      gap: 20px;
    }

    @include sm {
      flex-direction: column;
    }

    .card {
      width: 100%;
      padding: 20px 0;
      border-bottom: 1px solid #d7d7d7;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: center;
      gap: 20px;

      @include sm {
        border-bottom: 0px;
      }

      &:last-child {
        border-bottom: none;
        padding-bottom: 0;

        @include md {
          display: none;
        }
      }

      &:first-child {
        @include md {
          padding-right: 10px;
          border-right: 1px solid #d7d7d7;
          border-bottom: none;
        }

        @include sm {
          padding-right: 0px;
          border-right: 0px;
          border-bottom: 1px solid #d7d7d7;
        }
      }

      &__left {
        flex: 3;
        display: flex;
        flex-direction: column;
        gap: 10px;

        &__job {
          font-size: 15px;
          color: #999;
          font-weight: 700;
        }

        &__link {
          font-size: 18px;
          line-height: 1.44;
          color: #222;
          cursor: pointer;

          &:hover {
            color: #707070;
          }
        }
      }

      &__right {
        flex: 1;

        @include md {
          flex: 1.5;
        }

        &__figure {
          width: 100%;

          img {
            width: 100%;
            object-fit: cover;
            border-radius: 50%;
          }
        }
      }
    }
  }
}
