*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.wapper{
    margin: 0 auto;
    max-width: 1125px;
}
.containerpage {
    max-width: 1280px;
    margin: 0 auto;
    background: #f7f7f7;
}
body{
    word-break: keep-all;
font-family: 'Roboto', sans-serif;
}
.mt-24{
    margin-top: 24px;
}
