.slick {
  display: flex;
  gap: 10px;
  flex-direction: column;
  width: 100%;

  &__top {
    padding-bottom: 10px;
    border-bottom: 1px solid #d7d7d7;
    width: 100%;

    &__figure {
      width: 100%;

      img {
        width: 100%;
        object-fit: cover;
      }
    }
  }

  &__item {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .card {
      padding: 15px;
      display: flex;
      flex-direction: column;
      background-color: white;
      gap: 10px;
      .list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        gap: 20px;
        border-bottom: 1px solid #d7d7d7;
        padding-bottom: 10px;

        &:last-child {
          border-bottom: none;
          padding-bottom: 10px;
        }

        &__left a {
          color: #222;
          font-size: 15px;
          line-height: 1.33;
        }

        &__right {
          width: 50%;

          &__figure {
            width: 100%;
            cursor: pointer;

            img {
              width: 100%;
              object-fit: cover;
            }
          }
        }
      }
    }

    h3 {
      font-size: 18px;
      font-weight: 500;
    }
  }
}
