.slide {
  width: 100%;
  background-color: #eaeaea;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 50px;
  padding: 15px;

  @include md {
    margin-top: 20px;
    justify-content: flex-start;
  }

  &__logo {
    min-width: 50px;
  }

  &__title {
    font-size: 18px;
    color: #707070;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 450px;
    white-space: nowrap;
  }

  &__link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    cursor: pointer;
    font-weight: 400;
    gap: 10px;

    &:hover {
      text-decoration: underline;
    }

    @include md {
      display: none;
      justify-content: flex-start;
    }
  }
}
