.clscardcolumn {
  width: 100%;
  height: auto;
  &-content {
    display: flex;
    flex-direction: column;
    padding: 0px;
    &:hover .clscardcolumn-img img {
      transform: scale(1.1);
    }
    &:hover .clscardcolumn-title .clscardcolumn-title__title {
      text-decoration: underline;
    }
  }
  &-img {
    flex-shrink: 0;
    flex-basis: 40%;
    overflow: hidden;
    img {
      transition: transform linear 0.35s;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &-des {
    padding: 5px 0px 10px;
  }
  &-title {
    margin-bottom: 12px;
    &__title {
      font-size: 13px;
      word-break: break-all;
    }
    &__sumary {
      display: flex;
      color: #999999;
      font-size: 11px;
    }
  }
}
