.clslistcategory{
     &-content {
        display: flex;
     }
     &-item1{
        flex-basis: 65%;
     }
     &-itemsub{
        display: flex;
        margin: 0px -10px;
     }
     &-item2{
        flex-basis: 35%;
        max-height: 500px;
    overflow-y: scroll;
    padding-left: 20px;
 
  &::-webkit-scrollbar-track {
    background-color: #e5e5e5;
 }
 
  &::-webkit-scrollbar {
   width: 8px;
   height: 8px;
   background-color: #fff;
 }
 
  &::-webkit-scrollbar-thumb {
   border-radius: 10px;
   -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
   // background-color: #218b82;
   max-height: 10px;
 }
 
     }
}