.clscontactcompany {
  padding: 10px 0px;
  &-title {
    margin: 12px 0px;
    padding: 10px 0px;
    text-align: center;
  }
  &-contact {
    display: flex;
    width: 100%;
    &__des {
      width: 100%;
      text-align: center;
      padding-right: 50px;
    }
    &__phone {
      width: 100%;
      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }
      td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
        border-right: none;
      }

      th {
        border: 1px solid #dddddd;
        border-left: none;
        padding: 8px;
      }
    }
  }
  &-map {
    margin-top: 25px;
    width: 100%;
    padding: 10px 0px;
  }
}
