.clsfootercompany {
  width: 100%;
  border: 1px solid #eeeeee;
  position: fixed;
  bottom: 0;
  left: 0;
  background: #fff;
  z-index: 99;
  &-content {
    padding: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include res(1200px) {
      padding: 20px;
    }
  }
}
.padding-bottom {
  padding-bottom: 130px;
}
