.clshandleinformation {
  &-title {
    text-align: center;
    margin: 20px 0px;
    padding: 15px 0px;
    h3 {
      font-size: 33px;
    }
  }
  &-content {
    width: 900px;
  }
  &-body {
    display: flex;
  }
  &-description {
    flex-basis: 50%;
    padding-right: 50px;
  }
  &-contact {
    flex-basis: 50%;
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    td {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
      border-right: none;
    }

    th {
      border: 1px solid #dddddd;
      border-left: none;
      padding: 8px;
    }
  }
}
