.clshandlepolicy {
  &-content {
    width: 900px;
  }
  &-body {
    display: flex;
  }
  &-description {
    flex-basis: 50%;
  }
  &-title {
    text-align: center;
    margin: 20px 0px;
    padding: 15px 0px;
    h3 {
      font-size: 33px;
    }
  }
  &-policy {
    flex-basis: 50%;
  }
}
