.clsheadercompany {
  &-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
  }
  .bgmenu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: #0000006b;
    z-index: 1;
    height: 100%;
  }
  &-menu {
    overflow: hidden;
    position: relative;
    .isdesktop {
      display: flex;
      max-width: 1200px;
      flex-wrap: wrap;
      // @include res(1000px) {
      //   position: absolute;
      //   right: -100%;
      //   top: 0;
      // }
      @include res(1000px) {
        display: none;
      }
    }
    .ismobile {
      position: absolute;
      right: -100%;
      top: 0;
      opacity: 0;
      z-index: -1;
      // @include res(1000px) {
      //   display: none;
      // }
    }
    .ismobile.active {
      opacity: 1;
      right: 0;
      top: 0;
      bottom: 0;
      transition: all 0.5s ease;
      position: fixed;
      // overflow-y: scroll;
      overflow-x: hidden;
      background: #fff;
      display: flex;
      z-index: 2;
      flex-direction: column;
      z-index: 9999999;
      padding: 10px;
    }
    .icon-burger {
      cursor: pointer;
     
      .line {
        width: 25px;
        height: 4px;
        background-color: #000;
        margin: 5px;
        border-radius: 3px;
        transition: all 0.5s ease-in-out;
      }
     
    }
    .isdesktop.active .clsheadercompany-submenu {
      opacity: 1;
      visibility: visible;
      top: calc(90%);
      position: unset;
    }
    .isdesktop.active .clsheadercompany-item {
      opacity: 1;
      visibility: visible;
      top: calc(90%);
      position: unset;
    }
  }
  &-item {
    position: relative;
    padding: 15px 0px;
    margin-right: 15px;
    transition: all linear 0.3s;
    cursor: pointer;
    &:hover .clsheadercompany-submenu {
      opacity: 1;
      visibility: visible;
      top: calc(90%);
    }
    &:hover {
      border-bottom: 1px soid #000;
      text-decoration: underline;
    }
  }
  &-submenu {
    opacity: 0;
    transition: all linear 0.3s;
    visibility: hidden;
    position: absolute;
    left: 0px;
    display: flex;
    flex-direction: column;
    width: 190px;
    background: #fff;
    z-index: 2;
    top: 150%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 10px 10px 10px 20px;
    &__item {
      padding: 10px 0px;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &-itemmobile {
    a {
      display: flex;
      align-items: center;
    }
  }
  &-submenumobile {
    padding: 10px;
    &__item {
      margin-top: 10px;
    }
  }
}
