.clsheaderlogo {
  &-content {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
    align-items: center;
    @include res(600px) {
      flex-direction: column;
    }
  }
  &-search {
    width: 350px;
    @include res(600px) {
      padding-top: 15px;
    }
    @include res(375px) {
      width: 90%;
    }
  }
}
