.pdfcontent {
  &-item {
    &__title {
      text-align: center;
    }
    &__content {
      font-size: 18px;
    }
  }
  &-pagination {
    margin-top: 10px;
    padding-top: 10px;
    display: flex;
    justify-content: center;
  }
}
