.clspolicycompany {
  &-content {
    padding: 0px 150px;
    @include res(1000px) {
      padding: 0px 100px 30px;
    }
    @include res(768px) {
      padding: 0px 20px 50px;
    }
  }
  &-title {
    text-align: center;
    padding: 10px 0px;
    margin: 10px 0px;
  }
  &-menu {
    display: flex;
    @include res(768px) {
      flex-direction: column;
    }
  }
  &-left {
    padding-right: 25px;

    p {
      &:first-child {
        margin-top: 0px;
      }
    }
    // &::after {
    //   content: "";
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   height: 100%;
    //   width: 1px;
    //   ba
    // }
    border-right: 1px solid #eeeeee;
    @include res(768px) {
      border-right: none;
      padding-right: 0px;
    }
    @include res(600px) {
      font-size: 15px;
    }
  }
  &-right {
    padding-left: 25px;
    p {
      &:first-child {
        margin-top: 0px;
      }
    }
    @include res(768px) {
      margin-top: 20px;
      // border-top: 1px solid #eeeeee;
      padding-left: 0px;
    }
    @include res(600px) {
      font-size: 15px;
    }
  }
}
