.clspopular {
  .clsarticle {
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e5e5e5;
  }
  .clsarticle:first-child {
    padding-top: 10px;
    border-top: 1px solid #e5e5e5;
  }
  .clsarticle:last-child {
    border-bottom: none;
  }
  &header {
    padding: 20px 15px 0px 15px;
    &-content {
      display: flex;
      list-style: none;
      align-items: baseline;
    }
    &-item {
      margin-right: 15px;
      padding: 19px 0px 18px 0px;
    }
    &-item:first-child {
      font-size: 30px;
    }
    @include res(980px) {
      &-item {
        display: none;
      }
      &-item:first-child {
        display: inline-block;
      }
    }
  }
}
