.clsrsspagexml {
  &-content {
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    tr {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
      border-right: none;
      margin: 10px 0px;
      border-left: none;
      &:first-child {
        border: 2px solid #f1f1f1;
        border-right: none;
        border-left: none;
        padding: 8px;
      }
    }

    th {
      // border: 1px solid #dddddd;
      // border-left: none;
      padding: 16px;
    }
  }
}
