.clstab {
  font-family: Arial, sans-serif;
  &header {
    &-content {
      display: flex;
      list-style: none;
      text-decoration: none;
      flex-wrap: wrap;
    }
    &-item {
      margin-right: 12px;
    }
    @include res(980px) {
      font-size: 13px;
      line-height: 1.6;
      font-family: "Arial", serif;
      color: #222;
      font-weight: bold;
    }
  }
  &block {
    &-contenttop {
      display: flex;
      margin-top: 15px;
      @include res(980px) {
        flex-direction: column;
      }
      .clsarticletext {
        margin-bottom: 15px;
        position: relative;
        max-width: 100%;
        position: relative;
        padding-bottom: 0;
        border: none;
        padding-left: 15px;
        &::before {
          width: 6px;
          height: 6px;
          border-radius: 50%;
          content: "";
          background: #ababab;
          position: absolute;
          top: 50%;
          left: 0;
          transform: translate(0%, -50%);
        }
        @include res(980px) {
          max-width: 100%;
          margin-top: 20px;
        }
      }
    }
    &-contentbody {
      display: flex;
      justify-content: space-between;
      .clsarticletext {
        position: relative;
        max-width: 200px;
        position: relative;
        margin-bottom: 0;
        padding-bottom: 0;
        border: none;
        padding-left: 15px;
        &::before {
          width: 6px;
          height: 6px;
          border-radius: 50%;
          content: "";
          background: #ababab;
          position: absolute;
          top: 50%;
          left: 0;
          transform: translate(0%, -50%);
        }
      }
      @include res(980px) {
        flex-direction: column;
        .clsarticletext {
          max-width: 100%;
          margin-top: 20px;
        }
      }
    }
    &-right {
      padding-right: 10px;
      .border {
        margin-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #e5e5e5;
      }
      .border:last-child {
        border-bottom: none;
      }
      flex-basis: 60%;
      @include res(980px) {
        .clsarticle {
          &-content {
            flex-direction: column;
          }
          &-img {
            width: 100%;
          }
          &-summary {
            padding: 0px;
          }
        }
      }
    }
    &-left {
      // margin-top: 20px;
      &::before {
        width: 1px;
        height: 100%;
        content: "";
        background: #e5e5e5;
        position: absolute;
        top: 0;
        left: 0;
      }
      position: relative;
      flex-basis: 40%;
      padding: 0px 15px;
      @include res(980px) {
        padding: 0px;
        &::before {
          width: 0px;
        }
        .clsarticletexttitle {
          margin-top: 10px;
          padding-top: 10px;
          border-top: 1px solid #e5e5e5;
        }
        // .clsarticle{
        //   &-content{
        //     flex-direction: column;
        //   }
        //   &-img{
        //     width: 100%;
        //   }
        //   &-summary{
        //     padding: 0px;
        //   }
        // }
      }
    }
  }
}
