.clsheadersearch {
  padding: 20px 0px 30px 0px;
  &-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-left {
    display: flex;
    align-items: center;
  }
  &-logo,
  &-date {
    margin-right: 15px;
  }
  &-weather {
    width: 150px;
  }
}
