.prefixheader {
    border: 1px solid #d7d7d7;
    border-left: none;
    border-right: none;
    position: sticky;
    top: 0px;
    z-index: 1000;
    background: #fff;
    &-content{
        width: 1125px;
       margin: 0 auto;
        ul>li{
            list-style: none;
            line-height: 60px;
            font-size: 15px;
            font-weight: bold;
            color: #999;
        
        }
        ul {
            
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 0px;
        }
       
        &-item{
            position: relative;
            &::before{
                position: absolute;
                content: '';
                background-color: #a05252;
                height: 2px;
                width: 100%;
                top: 0px;
                left: 0px;

            }
        }
    }
}