.prefixarticleaside {
  max-width: calc(((292 + 185) / 1280) * 100%);
  flex-basis: calc(((292 + 185) / 1280) * 100%);
  padding: 0 calc((116) * 1px) 0 69px;
  .prefixitemview:last-child {
    padding: 12px 16px;
    .prefixitemview-content {
      display: flex;
      border-bottom: none;
      padding-bottom: 14px;
    }
  }
}
