.prefixarticlecontent{
    max-width: calc(((616 + 187) / 1280) * 100%);
    flex-basis: calc(((616 + 187) / 1280) * 100%);
    padding: 0 70px 0 calc((116) * 1px);
    border-right: 1px solid #eaeaea;
}