.prefixauthordetailpage {
  // padding: 0px 116px;
  margin-bottom: 24px;
  &-content {
    padding-bottom: 12px;
    border-bottom: 1px solid #d7d7d7;
  }
  &-author {
    margin-bottom: 8px;
    color: #222;
    font-size: 15px;
  }
  &-action {
    display: flex;
    justify-content: space-between;
    color: #999;
    &-time {
      color: #999;
      font-size: 14px;
    }
  }
}
