.prefixbanneradvertise{
    display: flex;
    height: 250px;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: #eaeaea;
    margin-bottom: 24px;
    &-content{
        text-align: center;
        h3{
            font-size: 18px;
               color: #222;
        }
    }
}